*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    body{
    font-family: Segoe UI;
    margin: 0 auto;
    }
    ul, li {
    list-style: none;
    }
    a {
    text-decoration: none;
    }
    #header {
    color: white;
    font-family: Segoe UI;
    font-size: 15px;
    width: 100%;
    z-index: 2;
    height: 70px;
    position: fixed;
    }
    #logo {
    position: fixed;
    top: 8px; left: 45px;
    }
    .header_top {
    height: 70px;
    width: 100%;
    background-image: url(../Images/IMAGE/header/bg.png);
    padding: 10px 10px 0 10px;
    text-align: right;
    }
    #searchform {
    display: flex;
    justify-content: flex-end;
    }
    #searchform .item {
    display: flex;
    margin-left: -17px;
    padding: 0 10px;
    }
    #searchform #register {
    line-height: 15px;
    margin: 5px;
    }
    #searchform #register a {
    color: white;
    }
    #searchform .search_textbox {
    width: 220px;
    height: 23px;
    border: 1px solid #F7941D;
    color: #F7941D;
    font-size: 17px;
    padding-left: 5px;
    }
    #searchform .search_button {
    color: #FFC3A5;
    height: 23px;
    }
    #menu ul {
    display: flex;
    justify-content: end;
    height: 20px;
    margin-top: 11px;
    }
    #menu ul li {
    border-right: 1px solid #FFBC9B;
    justify-content: start;
    height: 14px;
    padding: 0 1.5px;
    text-transform: lowercase;
    }
    #menu ul li a {
    color: white;
    font-size: 15px;
    display: block;
    margin-top: -5px;
    padding: 1px 7px;
    }
    #menu ul li.carting {
    border-right: none;
    padding: 0 1.5px;
    margin: -10px 0 10px 1px;
    }
    #menu ul li a.menu_active {
    background-color: #E78F61;
    border: 1px solid #F9CFB6;
    border-radius: 5px;
    }
    #menu ul li a:hover {
    background-color: white;
    }
    #menu ul li:hover a {
    color: #E0611D;
    border-radius: 3px 3px 0 0;
    }
    #flag {
    margin-top: 5px;
    }
    #flag img:hover {
    cursor: pointer;
    }
    #main {
    background-image: url(../Images/IMAGE/shopping_cart/bg_pg.png);
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 718px;
    }
    #body-content{
        padding: 130px 150px 30px 180px;
    }
    #body-content .page-title{
        color: #e53328;
        font-size: 60px;
        font-weight: bold;
    }
    #main-shopping-cart{
        margin: 30px auto;
        height: auto;
    }
    .tbl-cart-orther{
        border-collapse: collapse;
        border: 2px solid #d7d7d7;
        font-size: 13px;
        width: 100%;
        height: 250px;
    }
    .tbl-cart-orther th{
        color: #a54715;
        font-size: 15px;
        border: 2px #d7d7d7;
        background-color: #f9ad81;
        align-items: center;
        margin: 0px auto;
    }
    .tbl-cart-orther td{
        border: 2px solid #d7d7d7;
        background-color: #ffe9da;
        text-align: center;
    }
    .tbl-cart-orther td:first-child{
        width: 150px;
    }
    .tbl-cart-orther .product-name{
        text-align: left;
        padding-left: 10px;
        color: #e53328;
        font-size: 18px;
        text-decoration: underline;
    }
    .tbl-cart-orther .product_size{
        text-align: left;
        padding-left: 10px;
        color: #454545;

    }
    .tbl-cart-orther .product-price{
        color: #454545;
        font-weight: bold;
    }
    .tbl-cart-orther .product-qty{
        text-align: center;
        background-color: white;
        width: 34px;
        height: 18px;
        border: none;
        color: #454545;
    }
    .tbl-cart-orther .btn-close{
        color: #f6741e;
        font-size: 20px;
    }
    .add-orther-pro{
        background-color: #f9ad81;
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 5px 20px;

    }
    .cart-part-2{
        background-color: #ffe9da;
        border: 2px solid #d7d7d7;
        padding-top: 10px;
        display: flex;
    }
    .cart-part-2 .related-pro{
        width: 35%;
        font-size: 13px;
    }
    .related-pro .text-title{
        color: #454545 ;
        font-weight: bold;
        padding: 10px;
    }
    .related-pro .product-image{
        display: flex;
    }
    .product-image .img-detail{
        padding: 10px;
    }
    .product-image .img-descript{
        margin-left: 30px;
    }
    .img-descript .title-product{
        color: #e53328;
        font-weight: bold;
        text-decoration: underline;
    }
    .img-descript .price-product{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    btn-adder{
        margin-top: 10px;
    }
    .btn-submit{
        background-color: #f6741e;
        border: none;
        color: white;
        font-weight: bold;
        padding: 5px;
        cursor:pointer
    }
    .cart-part-2 .discount-code{
        width: 35%;
        border-left: 2px solid #d7d7d7;
        border-right: 2px solid #d7d7d7;
        font-size: 13px;
        padding: 10px 20px;
    }
    .discount-code .font1colum2{
        color: #d0500b;
        font-weight: bold;
    }
    .discount-code .font2colum2{
        color: #454545;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .discount-code .input-code{
        display: flex;
        margin-top: 10px;
    }
    .discount-code .textinput{
        width: 65%;
        height: 22px;
    }
    .cart-part-2 .proceed-checkout{
        width: 30%;
        color: #454545;
        font-size: 16px;
        font-weight: bold;
        padding: 10px;
    }
    .proceed-checkout .item{
        display: flex;
        justify-content: flex-end;
        padding-bottom: 5px;
        padding-top: 5px;

    }
    .item .title{
        margin-right: 50px;
    }
    .proceed-checkout .total-price{
        color: #e53328;
        font-size: 18px;
    }
    .total-price .title{
        margin-right: 40px !important;
    }
    .proceed-checkout .btn-submit{
        width: 240px;
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
        border-radius: 10px;
    }

   

    #footer {
    background-image: url(../Images/IMAGE/footer/bg_footer.png);
    background-repeat: repeat-x;
    bottom: 0; 
    /* không cho margin-bottom nữa */
    color: white;
    font-size: 15px;
    position: fixed;
    width: 100%;
    padding: 8px 15px;
    display: flex;
    }
    #footer .left_footer ul {
    display: flex;
    }
    #footer .left_footer .item {
    padding-left: 7px;
    }
    #footer .left_footer .item i {
    display: block;
    width: 20px;
    height: 18px;
    font-size: 20px;
    color: white;
    margin-top: 0px;
    }
    #footer .right_footer {
    margin-left: auto;
    margin-right: 20px;
    }
    #footer .right_footer ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    }
#footer .right_footer ul li {
    border-right: 1px solid #FFBC9B;
    text-transform: lowercase;
    margin: 0 10px;
    padding-right: 10px;
    }
    #footer .right_footer ul li a {
    color: white;
    }
    #footer .right_footer ul li.final {
    border-right: none;
    }
    #footer .right_footer ul li:hover a {
    text-decoration: underline;
    }


/* bài 33333333 */
#body_content{
    width: 90%;
    margin: auto;
}
#intro_dialog{
    display: flex;
    margin-top: 70px;
}
#intro_dialog .slidecaption{
    width: 45%;
    margin-left: 5%;
    padding: 15px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
}
#intro_dialog .slidecaption img{
    width: 100%;
    height: auto;
}
#intro_dialog .content_dialog{
    width: 50%;
    display: flex;
}
#intro_dialog .main_content {
    background-color: white;
    border: 1px solid #F6F6F6;
    border-radius: 10px;
    padding: 15px;
}
/* tạo hình tam giác */
.content_dialog .arrow {
    /* tạo hình tam giác */
    border-color: transparent white;
    border-style: solid;
    border-width: 20px 20px 20px 0px;
    height: 0px;
    position: relative;
    top: 80px;
}
.content_dialog .main_content{
    display: flex;
}
.content_dialog .main_content .title_dialog{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 15px 0px 15px 0px;
}
.content_dialog .main_content .description_dialog{
    width: 100%;
    margin-bottom: 35px;
    font-size: 13px;
}
.content_dialog .main_content .button_our_food{
    width: 100px;
    height: 40px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    background-color: #EF6E1D;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
.content_dialog .main_content .button_our_food:hover{
    cursor: pointer;
}
.content_dialog .main_content img{
    margin-top: 15px;
    margin-right: 15px;
    width: 155px;
}
#grid_container #slide{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 40px;
}
#grid_container ul li{
    width: 23%;
    margin-right: 10px ;
    margin-bottom: 35px;
}
#grid_container ul li img{
    width: 100% ;
    height: 100px;
}
